In [2]:
import json
import datetime
import random
from random import shuffle
from datetime import date, datetime
import pandas as pd
import numpy as np

In [41]:
with open('ex_data_JSON.txt', mode='r') as inp:

    i = json.load(inp)

df = pd.DataFrame(i['builds'])

In [17]:
def time_conv(nanos):
    '''
    time_conv converts a unix style timestamp in nanoseconds
    to an ISO style timestamp in the format YYYY-MM-DDTHH:MM:SS
 
    Input
    nanos as a long
 
    Returns
    ISO timestamp as str
    '''
    d = datetime.fromtimestamp(nanos/1000)
    ds = d.isoformat().split('.')
    return ds[0]

In [32]:
def top_num_results(num, data):
    results_df = data[['timestamp', 'results']]
    return results_df[:num]

In [42]:
df['timestamp'] = df['timestamp'].apply(time_conv)

SyntaxError: invalid syntax (<ipython-input-7-71f11347ebfc>, line 1)

In [43]:
res_lst = [random.randint(0,1) for _ in range(100)]

In [44]:
res_lst

[1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0]

In [45]:
r2 = [x if x == 1 else -1 for x in res_lst]
r2

[1,
 -1,
 -1,
 -1,
 1,
 1,
 1,
 1,
 -1,
 -1,
 1,
 -1,
 -1,
 -1,
 1,
 -1,
 1,
 -1,
 -1,
 1,
 1,
 1,
 1,
 -1,
 1,
 -1,
 1,
 1,
 1,
 1,
 -1,
 -1,
 1,
 1,
 1,
 1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 1,
 -1,
 1,
 -1,
 -1,
 1,
 1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 1,
 1,
 1,
 -1,
 -1,
 1,
 -1,
 1,
 -1,
 -1,
 -1,
 1,
 1,
 -1,
 1,
 1,
 1,
 -1,
 1,
 -1,
 1,
 1,
 -1,
 1,
 1,
 1,
 1,
 -1,
 -1,
 1,
 -1,
 -1,
 1,
 -1,
 -1,
 -1,
 -1,
 1,
 1,
 -1,
 -1,
 -1,
 -1]

In [47]:
df['results'] = r2
#df.drop(columns=['result'], inplace=True)
df.loc[df['results'] == 1, 'result'] = 'SUCCESS'
df.head()

,_class,duration,id,number,result,timestamp,results
0,hudson.model.FreeStyleBuild,35158,2084,2084,SUCCESS,2019-05-23T12:02:00,1
1,hudson.model.FreeStyleBuild,32848,2083,2083,FAILURE,2019-05-23T11:02:00,-1
2,hudson.model.FreeStyleBuild,32996,2082,2082,FAILURE,2019-05-23T10:02:00,-1
3,hudson.model.FreeStyleBuild,35204,2081,2081,FAILURE,2019-05-23T09:02:00,-1
4,hudson.model.FreeStyleBuild,36350,2080,2080,SUCCESS,2019-05-23T08:02:00,1

In [40]:
df1 = df[['timestamp','results']]

TypeError: 'RangeIndex' object is not callable

In [34]:
top_num_results(20,df)

              timestamp  results
0   2019-05-23T12:02:00       -1
1   2019-05-23T11:02:00       -1
2   2019-05-23T10:02:00       -1
3   2019-05-23T09:02:00        1
4   2019-05-23T08:02:00       -1
5   2019-05-23T07:02:00        1
6   2019-05-23T06:02:00       -1
7   2019-05-23T05:02:00        1
8   2019-05-23T04:02:00       -1
9   2019-05-23T03:02:00        1
10  2019-05-23T02:02:00        1
11  2019-05-23T01:02:00       -1
12  2019-05-23T00:02:00       -1
13  2019-05-22T23:02:00        1
14  2019-05-22T22:02:00       -1
15  2019-05-22T21:02:00        1
16  2019-05-22T20:02:00       -1
17  2019-05-22T19:02:00        1
18  2019-05-22T18:02:00       -1
19  2019-05-22T17:02:00        1